[submodule "frontend"]
	path = frontend
	url = https://gitlab.com/colmena-project/dev/frontend.git
[submodule "backend"]
	path = backend
	url = https://gitlab.com/luandro/backend.git
	branch = local/fix-auth-superadmin
[submodule "colmena-devops"]
	path = colmena-devops
	url = https://gitlab.com/colmena-project/dev/colmena-devops.git
